# Copier ce fichier en .env puis remplir la clé
GEMINI_API_KEY=colle_ta_cle_ici
GEMINI_MODEL=gemini-3.8-flash
GEMINI_FALLBACK_MODEL=gemini-3.5-flash-lite
EMBEDDING_MODEL=intfloat/multilingual-e5-base
MIN_SIMILARITY=0.84
# Voix
GEMINI_TTS_MODEL=gemini-3.8-flash-tts
GEMINI_TTS_VOICE=Kore
WOLOF_TTS=gemini
